In [23]:
#Word Embedding

In [24]:
#To create vector 2 method : CountVectorizer & BAG of words

In [25]:
#CountVectorizer

In [26]:
from sklearn.feature_extraction.text import CountVectorizer

In [27]:
#cv=CountVectorizer() #if you want every word you can use this
cv=CountVectorizer(stop_words="english") #it will avoid words like is,the,a

In [28]:
corpus=["This burger is very tasty and affordable.", #sentence1
        "This burger is not tasty and affordable.",  #sentence2
        "This burger is very very delicious."]    #sentence3

In [29]:
X=cv.fit_transform(corpus)
X

<3x4 sparse matrix of type '<class 'numpy.int64'>'
	with 8 stored elements in Compressed Sparse Row format>

In [30]:
result=X.toarray()
result #here 3 array since 3 sentence

array([[1, 1, 0, 1],
       [1, 1, 0, 1],
       [0, 1, 1, 0]], dtype=int64)

In [31]:
#Bag of words model

# A string of numbers
#taking unique words and find no.of that word in each sentence

In [32]:
import numpy as np
import pandas as pd
import regex as re

In [33]:
doc1="Game of Thrones is an amazing tv series!"
doc2="Game of Thrones is the best tv series!"
doc3="Game of Thrones is so great"

In [34]:
l_doc1=re.sub(r"[^a-zA-Z0-9]"," ",doc1.lower()).split()
l_doc1 #we are splitting whereevre space come and avoiding special characters

['game', 'of', 'thrones', 'is', 'an', 'amazing', 'tv', 'series']

In [35]:
l_doc2=re.sub(r"[^a-zA-Z0-9]"," ",doc2.lower()).split()
l_doc2

['game', 'of', 'thrones', 'is', 'the', 'best', 'tv', 'series']

In [36]:
l_doc3=re.sub(r"[^a-zA-Z0-9]"," ",doc3.lower()).split()
l_doc3

['game', 'of', 'thrones', 'is', 'so', 'great']

In [37]:
wordset12=np.union1d(l_doc1,l_doc2) #words which occuring in both of them
wordset12

array(['amazing', 'an', 'best', 'game', 'is', 'of', 'series', 'the',
       'thrones', 'tv'], dtype='<U7')

In [38]:
wordset=np.union1d(wordset12,l_doc3) #all the unique words from all the 3 words
wordset

array(['amazing', 'an', 'best', 'game', 'great', 'is', 'of', 'series',
       'so', 'the', 'thrones', 'tv'], dtype='<U7')

In [39]:
def calculateBOW(wordset,l_doc):
    termfrequency=dict.fromkeys(wordset,0) #fromkeys will take take each word as key in dictionary which have value=0
    for word in l_doc:
        termfrequency[word]=l_doc.count(word) #termfrequency["amazing"]=l_doc.count("amazing")
    return termfrequency

In [40]:
bow1=calculateBOW(wordset,l_doc1)
bow1

{'amazing': 1,
 'an': 1,
 'best': 0,
 'game': 1,
 'great': 0,
 'is': 1,
 'of': 1,
 'series': 1,
 'so': 0,
 'the': 0,
 'thrones': 1,
 'tv': 1}

In [41]:
#bow1=calculateBOW(wordset,l_doc1)
bow2=calculateBOW(wordset,l_doc2)
bow3=calculateBOW(wordset,l_doc3)

In [42]:
df_bow=pd.DataFrame([bow1,bow2,bow3])
df_bow

   amazing  an  best  game  great  is  of  series  so  the  thrones  tv
0        1   1     0     1      0   1   1       1   0    0        1   1
1        0   0     1     1      0   1   1       1   0    1        1   1
2        0   0     0     1      1   1   1       0   1    0        1   0

In [43]:
x=cv.fit_transform([doc1,doc2,doc3])
x

<3x7 sparse matrix of type '<class 'numpy.int64'>'
	with 13 stored elements in Compressed Sparse Row format>

In [44]:
df_bow_sklearn=pd.DataFrame(x.toarray(),columns=cv.get_feature_names())
df_bow_sklearn

   amazing  best  game  great  series  thrones  tv
0        1     0     1      0       1        1   1
1        0     1     1      0       1        1   1
2        0     0     1      1       0        1   0