In [67]:
import numpy as np
import pandas as pd
df=pd.read_csv("C:\\Users\\user\\Downloads\\fakenewsdetection.csv")
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [68]:
X=df.drop('label',axis=1)
y=df["label"]

df.shape

(20800, 5)

In [69]:
df.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [70]:
df=df.fillna(' ')

In [71]:
df.isnull().sum()

id        0
title     0
author    0
text      0
label     0
dtype: int64

In [72]:
X.isnull().sum()
X=X.fillna(' ')
X.isnull().sum()

id        0
title     0
author    0
text      0
dtype: int64

In [73]:
import re

In [74]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [75]:
ps=PorterStemmer()

In [76]:
X["title"]

0        House Dem Aide: We Didn’t Even See Comey’s Let...
1        FLYNN: Hillary Clinton, Big Woman on Campus - ...
2                        Why the Truth Might Get You Fired
3        15 Civilians Killed In Single US Airstrike Hav...
4        Iranian woman jailed for fictional unpublished...
                               ...
20795    Rapper T.I.: Trump a ’Poster Child For White S...
20796    N.F.L. Playoffs: Schedule, Matchups and Odds -...
20797    Macy’s Is Said to Receive Takeover Approach by...
20798    NATO, Russia To Hold Parallel Exercises In Bal...
20799                            What Keeps the F-35 Alive
Name: title, Length: 20800, dtype: object

In [77]:
corpus=[]
for i in range(0,len(X)):
    review=re.sub("[^a-zA-Z]"," ",X["title"][i])
    review=review.lower()
    review=review.split()
    review=[ps.stem(word) for word in review if not word in stopwords.words("english")]
    review=" ".join(review)
    corpus.append(review)

In [78]:
corpus[3]

'civilian kill singl us airstrik identifi'

In [79]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000)
X=cv.fit_transform(corpus).toarray()

In [80]:
X.shape

(20800, 5000)

In [85]:
y

0        1
1        0
2        1
3        1
4        1
        ..
20795    0
20796    0
20797    0
20798    1
20799    1
Name: label, Length: 20800, dtype: int64

In [82]:
y.shape

(20800,)

In [83]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [84]:
cv.get_feature_names()[:20]

['aaron',
 'ab',
 'abandon',
 'abba',
 'abc',
 'abduct',
 'abe',
 'abedin',
 'abl',
 'aboard',
 'abolish',
 'abort',
 'abram',
 'abroad',
 'absolut',
 'abstain',
 'absurd',
 'abu',
 'abus',
 'aca']

In [86]:
X_train

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [87]:
from sklearn.naive_bayes import MultinomialNB

In [88]:
classifier=MultinomialNB()

In [89]:
classifier.fit(X_train,y_train)

MultinomialNB()

In [91]:
pred=classifier.predict(X_test)
pred

array([0, 0, 1, ..., 1, 0, 0], dtype=int64)

In [92]:
from sklearn import metrics

In [93]:
metrics.accuracy_score(y_test,pred)

0.9059294871794872